{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{image.title}}{% endblock title %}
{% block content %}
    <h1>{{image.title}}</h1>
    {% thumbnail image.image "300" as im %}
        <a href="{{image.image.url}}">
            <img src="{{im.url}}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{total_likes}}</span> like{{total_likes|pluralize}}
                </span>
                {% if user.is_authenticated %}
                    <a href="#" data-id="{{image.id}}" data-action="{% if user in users_like %}un{% endif %}like" class="like button">
                            {% if user not in users_like %}
                                Like
                            {% else %}
                                Unlike
                            {% endif %}
                    </a>
                {% endif %}
            </div>
            {{image.description|linebreaks}}
        </div>
        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div class="user-{{user.username}}">
                    <img src="{{user.profile.photo.url}}">
                    <p>{{user.first_name}}</p>
                </div>
            {% endfor %}
        </div>
    {% endwith %}
{% endblock content %}

{% block domready %}
    $('a.like').click(function(event) {
        event.preventDefault();
        $.post("{% url 'image_like' %}", {
            id: $(this).data('id'),
            action: $(this).data('action')
        }, function(data) {
            if (data["status"] == "ok") {
                let previous_action = $('a.like').data('action');
    
                // toggle data-action
                $('a.like').data('action', previous_action == "like" ? "unlike" : "like");
    
                // toggle link text
                $("a.like").text(previous_action == "like" ? "Unlike" : "Like");
    
                // update total likes
                let previous_likes = parseInt($("span.count .total").text());
                $("span.count .total").text(previous_action == "like" ? previous_likes + 1 : previous_likes - 1);
                
                const username = "{{user.username}}";
                
                if (previous_action == "like") {
                    const userFirstName = "{{user.first_name}}";
                    const userImageURL = "{{user.profile.photo.url}}"

                    let mainDiv = $("div.image-likes");

                    const addUser = `
                    <div class=user-${username}>
                        <img src="${userImageURL}">
                        <p>${userFirstName}</p>
                    </div>
                    `

                    mainDiv.prepend(addUser);
                } else {
                    const thisUserDiv = $("div.user-" + username);
                    thisUserDiv.remove();
                }
            }
        });
    });
{% endblock domready %}