{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
  <h1>Login</h1>
  {% if form.errors %}
    <p>Your username and password didn't match. Please enter again.</p>
  {% else %}
    <p>Please, use the following form to login. If you don't have an account
    <a href="{% url 'register' %}">register here</a>.</p>
  {% endif %}

  <div class="login-form">
  <form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="text" value="{{ next }}">
    <p><input type="submit" value="Login"></p>
  </form>
  <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
  </div>

  <div class="social">
    <span><strong>Social Account Login</strong></span>
    <ul>
      <li class="facebook">
        <a href="{% url 'social:begin' 'facebook' %}"><b>Facebook</b></a>
      </li>

      <li class="twitter">
        <a href="{% url 'social:begin' 'twitter' %}"><b>Twitter</b></a>
      </li>

      <li class="google">
        <a href="{% url 'social:begin' 'google-oauth2' %}"><b>Google</b></a>
      </li>
    </ul>
  </div>
{% endblock content %}

{% block extra_script %}
  <script>
    document.querySelector("label[for='id_username']").textContent = "Username/Email:"
  </script>
{% endblock extra_script %}
