{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{user.get_full_name}}{% endblock title %}
{% block content %}
    <h1>{{user.get_full_name}}</h1>
    <div class="profile-info">
        {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
            <img src="{{im.url}}" class="user-detail">
        {% endthumbnail %}
    </div>
    {% with total_followers=user.followers.count %}
        <span class="count">
            <span class="total">{{total_followers}}</span> follower{{total_followers|pluralize}}
        </span>
        {% if request.user != user %}
            <a href="#" data-id="{{user.id}}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
                    {% if request.user not in user.followers.all %}
                        Follow
                    {% else %}
                        UnFollow
                    {% endif %}
            </a>
        {% endif %}
        <div id="image-list" class="image-container">
            {% include "images/image_list_ajax.html" with images=user.images_created.all %}
        </div>
    {% endwith %}
{% endblock content %}