{% extends "base.html" %}
{% block title %}Enter New Password{% endblock title %}
{% block content %}
    <h1>Enter New Password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <p><input type="submit" value="Change my Password"></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a new password reset.</p>
    {% endif %}
{% endblock content %}