{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}">
  <script src="main.js"></script>
</head>
<body>
  <div id="header">
    <span class="logo">Bookmarks</span>
    {% if user.is_authenticated %}
      <ul class="menu">
        <li {% if section == 'dashboard' %}class="selected"{% endif %}>
          <a href="{% url 'dashboard' %}">My Dashboard</a>
        </li>
        <li {% if section == 'images' %}class="selected"{% endif %}>
          <a href="#% url 'images' %}">Images</a>
        </li>
        <li {% if section == 'people' %}class="selected"{% endif %}>
          <a href="#% url 'people' %}">People</a>
        </li>
      </ul>
    {% endif %}

    <span class="user">
      {% if user.is_authenticated %}
        Hello {{user.username}},&nbsp; <a href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'login' %}">Login</a> | 
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </span>
  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{message.tags}}">
          {{message|safe}}
          <a  href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif%}

  <div id="content">
    {% block content %}
    {% endblock content %}
  </div>
</body>
</html>