{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div id="header">
      <span class="logo">Bookmarks</span>
      {% if request.user.is_authenticated %}
        <ul class="menu">
          <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url 'dashboard' %}">My dashboard</a>
          </li>

          <li {% if section == "images" %}class="selected"{% endif %}>
            <a href="{% url 'images:list' %}">Images</a>
          </li>

          <li {% if section == "people" %}class="selected"{% endif %}>
            <a href="#people">People</a>
          </li>
        </ul>
      {% endif %}

    <span class="user">
      {% if request.user.is_authenticated %}
        <strong>Hello {{ request.user.username }},&nbsp;
        <a href="{% url 'logout' %}">Logout</a></strong>
      {% else %}
        <strong><a href="{% url 'login' %}">Login</a></strong>
      {% endif %}
    </span>
    </div>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close">X</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <script>
      const messages = document.getElementsByClassName("messages")[0]
      if(messages){
        setTimeout(() => messages.remove(), 10000)
      }
    </script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.min.js' %}" type="text/javascript"></script>
    <script>
      let csrftoken = Cookies.get("csrftoken");
      function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    </script>
    {% block extra_script %}
    {% endblock extra_script %}
  </body>
</html>
